/* 设置轮播容器的最大宽度和高度 */
#carouselExampleInterval {
    max-width: 70%; /* 使用百分比以适应父容器的宽度 */
    max-height: 80%; /* 使用百分比以适应父容器的高度 */
  
  }
  
  /* 设置轮播图片的最大宽度和高度，以确保它们适应轮播容器 */
  .carousel-item img {
    max-width: 100%; /* 使用百分比以适应轮播容器的宽度 */
    max-height: 100%; /* 使用百分比以适应轮播容器的高度 */
  }
  